<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>myMoviesDatabase</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    <div class="ui five item menu">
      <a href="/" class="active green item">Home</a>
      <a href="/movies/new" class="item">Add new movie</a>
      <a href="/movies" class="item">List all movies</a>
      <a href="/comments/new" class="item">Add new comment</a>
      <a href="/comments" class="item">List all comments</a>
    </div>
        <div class="ui container">
        <% if(error && error.length > 0){ %>
            <div class="ui negative message" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="ui success message" role="alert">
                <%= success %>
            </div>
        <% } %>
        </div>
    <div class="ui container">