<% include ../partials/header %>

        <div class="ui raised container segment five wide column">
            <p>
                Comment: <%= comment.text %>
            </p>
        </div>

<% include ../partials/footer %>