body {
    background-color: black;
}

#home-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#home-header h1 {
  color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				       0px 8px 13px rgba(0,0,0,0.1),
				       0px 18px 23px rgba(0,0,0,0.1);
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1508924379194-91ff8ad10091?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=229c23d22bf10396a59d0a43a60f16cb&auto=format&fit=crop&w=967&q=80); 
}

.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1507662153435-4a9c9f8ac7e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=deedb1286949a77f305bf1349ccce8a5&auto=format&fit=crop&w=1189&q=80);
  animation-delay: 10s; 
}

.slideshow li:nth-child(3) { 
  background-image: url(https://m.media-amazon.com/images/M/MV5BOGRhZTRjZDEtNjNmZC00M2ZmLWJlMDgtMjdhNzU3ZjBiNTNlXkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_.jpg);
  animation-delay: 20s; 
}

.slideshow li:nth-child(4) { 
  background-image: url(https://m.media-amazon.com/images/M/MV5BMTM5OTQ0MDQxMF5BMl5BanBnXkFtZTcwOTI1NzI4NA@@._V1_.jpg);
  animation-delay: 30s; 
}

.slideshow li:nth-child(5) { 
  background-image: url(https://m.media-amazon.com/images/M/MV5BYzAyNjNiZTctNWIzOC00NmEyLWE2MzYtMmJiMWRkMTZjMDFmXkEyXkFqcGdeQXVyNjA3NDI0NDg@._V1_SY1000_CR0,0,1538,1000_AL_.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.no-cssanimations .slideshow li {
	opacity: 1;
}