<% include ../partials/header %>

<form action="/movies" method="POST">
    <div class="ui form">
        <div class="ui field">
            <label>Title</label>
            <input type="text" name="Title">
        </div>
        <button class="ui green button">Submit</button>
    </div>
</form>

<% include ../partials/footer %>